html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#banner {
  font-family: sans-serif;
  font-size: larger;
  vertical-align: middle;
  padding-left: 0.5em;
  padding-top: 0.5ex;
  height: 3ex;
  background-color: #ffffff;
}

#banner button {
  float: right;
  margin-left: 3em
}

#header {
  padding: 10px;
  background-color: #f0f0f0;
}

#container {
  flex: 1;
  min-height: 0;
  /* critical for Chrome */
}

#wrapper {
  width: 100%;
  height: calc(100vh - 24pt);
  max-height: calc(100vh - 24pt);
  border: 1px solid gray;
  table-layout: fixed;
}

table#wrapper thead tr,
table#wrapper thead tr th.editor-header {
  width: min(100%, max(40vw, 80ch));
  background-color: #f0f0f0;
  font-family: "Menlo", "Monaco", "Droid Sans Mono", "Roboto Mono", "Inconsolata", "Consolas", "monospace", monospace;
  font-size: 14px;
  resize: none; /* horizontal; */
  overflow-x: scroll;
  height: 18pt;
}

table#wrapper thead tr th.status-header {
  background-color: #f0f0f0;
  font-family: "Menlo", "Monaco", "Droid Sans Mono", "Roboto Mono", "Inconsolata", "Consolas", "monospace", monospace;
  font-size: 14px;
  width: min(58ch, max(20vw, 44ch));
  max-width: 58ch;
  resize: none;
  overflow-x: scroll;
  height: 18pt;
}


table#wrapper tbody tr,
table#wrapper tbody tr th,
table#wrapper tbody tr td#ditor-pane
table#wrapper tbody tr td#status-pane {
  vertical-align: top;
  height: calc(100vh - 42pt);
  max-height: calc(100vh - 42pt);
}

.editor-pane {
  width: min(100%, max(40vw, 80ch));
  height: min(100%, calc(100vh - 42pt));
  max-height: min(100%, calc(100vh - 42pt));
  overflow-y: hidden;
  overflow-x: hidden;
}

td.status-pane {
  font-family: "Menlo", "Monaco", "Droid Sans Mono", "Roboto Mono", "Inconsolata", "Consolas", "monospace", monospace;
  font-size: 14px;
  width: min(55ch, max(10vw, 44ch));
  max-width: 55ch;
  height: calc(100vh - 42pt);
  background-color: #f0f0f0;
  padding: 10px;
  border-left: 1px solid gray;
  resize: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

table#registers {
  width: 100%;
  max-height: calc(100vh - 42pt);
  border-collapse: collapse;
  font-family: "Menlo", "Monaco", "Droid Sans Mono", "Roboto Mono", "Inconsolata", "Consolas", "monospace", monospace;
  font-size: 14px;
  text-align: left;
  white-space: pre;
  background-color: #ffffff;
  resize: none;
  table-layout: fixed;
  overflow-x: scroll;
  overflow-y: scroll;
}

table#registers tbody tr[class^="reg-"] {
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  /* line-height: 2ex; */
  line-height: 19px;
  height: 2.5ex;
  resize: none;
}

table#registers tbody tr[class^="reg-"] th[id^="reg-"] {
  vertical-align: middle;
  overflow: hidden;
  width: min(8ex, max(5vw, 8ch));
  /* line-height: 2ex; */
  line-height: 19px;
  height: 2.5ex;
  resize: none;
}

table#registers tbody tr[class^="reg-"] td,
table#registers tbody tr[class^="reg-"] td div[id^="val-"] {
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  /* line-height: 2ex; */
  line-height: 19px;
  height: 2.5ex;
  resize: none;
}

table#registers td.registerAccess,
table#registers td.registerAccess div {
  background-color: blue;
  color: white;
}

table#registers tr.reg-special {
  background-color: rgba(255, 192, 0, 0.25);
}

table#registers tr.reg-special-uow {
  background-color: rgba(192, 255, 255, 0.5);
}

table#registers tr.reg-kernel {
  background-color: rgba(255, 0, 0, 0.25);
}

table#registers tr.reg-at {
  background-color: rgba(0, 255, 0, 0.1);
}

table#registers tr.reg-result {
  background-color: rgba(255, 128, 0, 0.1);
}

table#registers tr.reg-arg {
  background-color: rgba(255, 255, 255, 0.1);
}

table#registers tr.reg-temp {
  background-color: rgba(255, 255, 0, 0.5);
}

table#registers tr.reg-saved {
  background-color: rgba(0, 255, 0, 0.25);
}

table#registers tr.reg-hilo {
  background-color: rgba(0, 0, 255, 0.25);
}

table#registers tr.reg-pc {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.error {
  background-color: yellow;
}

table#registers tr td div.error {
  background-color: red;
  color: white;
}


table#registers tr:nth-child(even) th,
table#registers tr:nth-child(even) td {
  background-color: rgba(0, 0, 0, 0.1);
  whitespace: pre;
}

textarea {
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Menlo", "Monaco", "Droid Sans Mono", "Roboto Mono", "Inconsolata", "Consolas", "monospace", monospace;
  font-size: 14px;
  height: 10ch;
  max-height: calc(100vh - 42pt);
}


.nextToExecuteHighlight {
  background-color:rgba(0, 0, 255, 12%);
}

.breakpointHighlight {
  background-color:rgba(255, 0, 0, 12%);
}

.breakpointGlyph {
  width: 40px;
  background-color: red;
  background: url('data:image/svg+xml;utf8,<svg fill="red" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="6"/></svg>') no-repeat center center;
}

.memoryAccess {
  background-color:rgba(0, 255, 0, 12%);
}
